<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/scyna/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="hongsan" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>